.u-section-1 {
  background-image: none;
  min-height: 402px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 60px 56px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 85px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  pointer-events: auto;
  background-image: url("images/53e9d1424950b108f5d084609629317e113fdce15b4c704f742f7ed5964dcc5b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 286px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-list-1 {
  min-height: 414px;
  grid-template-columns: repeat(2, calc(50% - 5px));
  width: 1060px;
  grid-gap: 10px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 144px;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-list-1 {
    min-height: 468px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-2 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-2 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-2 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-2 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 29px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 206px;
}